﻿
@{
    ViewBag.Title = "Times";
}

<h2>Times</h2>

<a href="#" onclick="createValue()">Create new</a>
<table id="times">
    
</table>

<script type="text/javascript">

    var url = "/api/times/";

    function loadValues() {
        $.get(url, (result) => {
            $("#times").html("");
            $.each(result,
                (i, item) => {
                    loadValue(item);
                });
        });
    }

    function loadValue(value) {
        var template = '<tr><td>[TIME]</td><td>[SOURCE]</td></tr>';
        var row = template
            .replace("[TIME]", value.Time)
            .replace("[SOURCE]", value.Source);
        $(row).appendTo("#times");
    }

    function createValue() {
        $.ajax({
            url: url,
            type: 'PUT',
            data: {
                Time: new Date().toUTCString(),
                Source: "web"
            }
        });
    }

    $(document).ready(() => {
        setInterval(() => {
                loadValues();
            },
            2000);
    });

</script>

