﻿
@{
    ViewBag.Title = "Values";
}

<h2>Values</h2>

<a href="#" onclick="errorTest()">error test</a> <br/>
<a href="#" onclick="createValue()">Create new</a>
<table id="values">
    
</table>

<script type="text/javascript">

    var url = "/api/testvalues/";

    function loadValues() {
        $.get(url, (result) => {
            $("#values").html("");
            $.each(result,
                (i, item) => {
                    loadValue(item);
                });
        });
    }

    function loadValue(value) {
        var template = '<tr><td>[NAME]</td><td><a href="#" onclick="processItem(\'[ID]\');">process</a></td></tr>';
        var row = template
            .replace("[NAME]", value.Value)
            .replace("[ID]", value.Id);
        $(row).appendTo("#values");
    }

    function createValue() {
        $.ajax({
            url: url,
            type: 'PUT'
        });
    }

    function processItem(id) {
        $.get(url + id);
    }

    function errorTest() {
        $.get("/api/errortest");
    }

    $(document).ready(() => {
        setInterval(() => {
                loadValues();
            },
            2000);
    });

</script>

